@model IEnumerable<AssignmentCSharp4_EFCodeFirst.Models.Product>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Index</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <p>
                    <div class="col-3">
                        <h6>@Html.DisplayFor(modelItem => item.NameProduct)</h6>
                        <img src="@Html.DisplayFor(modelItem => item.Image)" width="240px" height="360px" />
                        <span>
                            <h6>Gia: @Html.DisplayFor(modelItem => item.Price)</h6>
                            <h6>Gia: @Html.DisplayFor(modelItem => item.Desciption)</h6>
                        </span>
                        <button class="align-items-center">Mua</button>
                    </div>
                </p>
            }
        </div>